@model IEnumerable<Projeto>
@{
    Layout = null;
}

<table>
    <thead>
        <th>@Html.DisplayNameFor(Model => Model.Id)</th>
        <th>@Html.DisplayNameFor(Model => Model.Titulo)</th>
        <th>@Html.DisplayNameFor(Model => Model.Descricao)</th>
        <th>@Html.DisplayNameFor(Model => Model.Autor)</th>
        <th>@Html.DisplayNameFor(Model => Model.Disciplina)</th>
        <th>@Html.DisplayNameFor(Model => Model.PrazoInicial)</th>
        <th>@Html.DisplayNameFor(Model => Model.PrazoFinal)</th>
        <th>@Html.DisplayNameFor(Model => Model.Nota)</th>
        <th></th>
    </thead>
    <tbody>
        @foreach (var projeto in Model)
        {
            <tr>
                <td>@projeto.Id</td>
                <td>@projeto.Titulo</td>
                <td>@projeto.Descricao</td>
                <td>@projeto.Autor</td>
                <td>@projeto.Disciplina</td>
                <td>@projeto.PrazoInicial</td>
                <td>@projeto.PrazoFinal</td>
                <td>@projeto.Nota</td>
                <td>
                    <button type="button" class="btn btn-primary" onclick="projeto.mostrarViewEditar(@projeto.Id)">Editar Projeto</button>
                    <button type="button" class="btn btn-danger" onclick="projeto.mostrarViewExcluir(@projeto.Id)">Excluir Projeto</button>
                </td>
            </tr>
        }
    </tbody>
</table>
