<button type="button" class="btn btn-primary" onclick="aluno.mostrarViewCadastrar()">Cadastrar Aluno</button>
<button type="button" class="btn btn-success" onclick="aluno.mostrarViewBuscar()">Buscar Alunos</button>

<div id="mostrarViewCadastrar"></div>
<div id="mostrarViewBuscar"></div>
<div id="mostrarViewExcluir"></div>
<div id="mostrarViewEditar"></div>

<script src="~/js/Pages/aluno.js" asp-append-version="true"></script>
<script>
    aluno.init({
        urls: {
            mostrarViewCadastrar: '@Url.Action("MostrarViewCadastrar", "Aluno")',
            cadastrar: '@Url.Action("Cadastrar", "Aluno")',
            mostrarViewBuscar: '@Url.Action("MostrarViewBuscar", "Aluno")',
            mostrarViewExcluir: '@Url.Action("MostrarViewExcluir", "Aluno")',
            excluir: '@Url.Action("Excluir", "Aluno")',
            mostrarViewEditar: '@Url.Action("MostrarViewEditar", "Aluno")',
            editar: '@Url.Action("Editar", "Aluno")'
        }
    });
</script>
