@model IEnumerable<Curso>

@{
    Layout = null;
}

<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CargaHoraria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trilha)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CargaHoraria)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Professor)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Trilha)
                </td>

                <td>
                    <button type="button" class="btn btn-danger" onclick="curso.deletarCurso(@item.Id)">Deletar</button>
                    
                    <form id="lucas_@item.Id">
                        <input type="hidden" asp-for="@item.Id">
                        <input type="hidden" asp-for="@item.Nome">
                        <input type="hidden" asp-for="@item.CargaHoraria">
                        <input type="hidden" asp-for="@item.Professor">
                    </form>
                    <button type="button" class="btn btn-primary" onclick="curso.editarCurso(@item.Id)">Editar</button>
                </td>
            </tr>
        }
    </tbody>
</table>