@model IEnumerable<Evento>
@{
    Layout = null;
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Descricao</th>
            <th scope="col">Localizacao</th>
            <th scope="col">Palestrante</th>
            <th scope="col">Publico Alvo</th>
            <th scope="col">Valor Ingresso</th>
            <th scope="col">Custo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Nome</td>
                <td>@item.Descricao</td>
                <td>@item.Localizacao</td>
                <td>@item.Palestrante</td>
                <td>@item.PublicoAlvo</td>
                <td>@item.ValorIngresso</td>
                <td>@item.Custo</td>
                <td>
                    <button type="button" class="btn btn-sm btn-primary" onclick="evento.viewEditar(@item.Id)">
                        Editar
                    </button>

                    <button type="button" class="btn btn-sm btn-danger" onclick="evento.excluir(@item.Id)">
                        Excluir
                    </button>
            </tr>
        }
    </tbody>
</table>
