@model Evento;

@{
    Layout = null;
}

<form id="editarForm">
    <div>
        <div class="mb-3">
            <input asp-for="@Model.Nome" placeholder="Nome" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <input asp-for="@Model.Descricao" placeholder="Descrição" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <input asp-for="@Model.PublicoAlvo" placeholder="Público Alvo" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <input asp-for="@Model.ValorIngresso" placeholder="Valor Ingresso" type="number" class="form-control">
        </div>
        <div class="mb-3">
            <input asp-for="@Model.Custo" placeholder="Custo" type="number" class="form-control">
        </div>
        <div>
            <input asp-for="@Model.Id" type="hidden">
        </div>
        <button type="button" class="btn btn-primary" onclick="evento.editar()">Enviar</button>
    </div>
</form>
